body {
    height: 100vh;
    display: flexbox;
}

#startBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 300px;
}

#resetBtn {
    margin-left: 75%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#mainText {
    overflow: scroll;
}




