#startBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 300px;
    margin-top: 75%;
}

#resetBtn {
    margin-left: 75%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


#revealBtn {
    margin-bottom: 20px;
}

#nextBtn {
    margin: 10px;
}

